@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    overflow: hidden;
    margin: none;
}
body{
    background-color:#111111 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47rem;
}

section{
    display: flex;
    flex-direction: column;
    border: solid 1rem #2f2841 ;
    background-color: #2f2841;
    width: 35rem;
    height: 40rem;
    text-align: center;
    border-radius: 1.5rem;
    align-items: center;
    padding-top: 1rem;
}
img{
    width: 150px; 
    height: 150px;

    padding: 10px; 
    box-sizing: border-box; 
}
.texto1{
    font-size: 2rem;
    color: #61afdc;
    margin: 0;
    font-family:'Noto Sans', sans-serif;
    font-weight: 9000px;
}
.cadastro{
    color: #61afdc;
    font-weight: 1000;
    letter-spacing: 3px ;
    margin: 0;
    padding-top: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family:'Noto Sans', sans-serif;
    text-shadow: 0 0 3px #339fdd, 0 0 5px #138acf;
    
}
.btn-login{
    padding: 2rem 4rem;
    border-radius: 15px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #2b134b;
    background-color: #61afdc;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #339fdd ;
    margin-top: 2rem;
    font-size: 1rem;
}
.textfield{
    color: #f0ffffde;
    margin-bottom: 10px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.textfield > input {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background:#514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box  ;
}

.card-login{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
    align-self: flex-start;

}